@import "~nativescript-theme-core";
Page {
    background-color: white;
    font-size: 17px;
}
TextField {
    margin: 10px;
    padding: 10px;
}
Button {
    margin: 10px;
    padding: 10px;
}
ListView {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.loading {
    color: #ffd30b;
    font-size: 25px;
    margin-top: 15%;
    margin-left: 30%;
    font-weight: bold;
}
